<footer class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-4 text-center">
      <div (click)="showPopup()" class="add-event-button align-middle">+</div>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>
</footer>

<ng-container *ngIf="popupConfig.isOpen">
  <app-popup [popupConfig]="popupConfig">
    <app-add-event [activeDate] = activeDate$|async></app-add-event>
  </app-popup>
</ng-container>
