<main class="container event-block">
  <section class="row events">
    <ng-container *ngIf="(events$ | async) as events">
      <ul class="offset-md-2 col-md-8 p-3" #dates>
        <ng-container *ngFor="let day of events | keyvalue">
            <time class="sticky-date" [attr.datetime]="day.key">{{day.key}}</time>
          <app-event *ngFor="let event of day.value.events | keyvalue" [event]="event.value"></app-event>
        </ng-container>
      </ul>
    </ng-container>
  </section>
</main>
