@import '../../styles';

h3 {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f8fbfc;
  z-index: 10;
  font-size: 1.25em;
  box-shadow: 0 15px 20px 5px rgba(248, 251, 252, 0.75);
  @media(min-width: 769px) {
    top: 500px;
  }
}
.event-block {
  padding-bottom: 100px;
  .events {
    .sticky-date {
      background: #f8fbfc;
      @media(min-width: 769px) {
        position: sticky;
        top: 520px;
        z-index: 100;
      }
    }
  }
}

main.waiting {
  width: 120px;
  height: 120px;
}
