<main *ngIf="(events$ | async) as events; else Loading" class="container event-block">
  <section class="row events">
    <ul *ngIf="(events | json) != '{}'; else noEvents" class="offset-md-2 col-md-8 p-md-3">
      <ng-container *ngFor="let day of events | keyvalue">
        <time class="sticky-date" *ngIf="monthlyView" [attr.datetime]="day.key">{{day.key}}</time>
        <ng-container>
          <app-event *ngFor="let event of day.value.events" [event]="event"></app-event>
        </ng-container>
      </ng-container>
    </ul>
  </section>
</main>

<ng-template #noEvents>
  <div class="offset-md-2 col-md-8 p-3 text-center">
    Any event was arranged
  </div>
</ng-template>

<ng-template #Loading>
  <main class="offset-md-2 col-md-8 p-3 text-center waiting"></main>
</ng-template>
