<li class="list-unstyled my-3" *ngIf="event" >
    <div [ngClass]="{'complete': event.complete}" class="event d-flex align-items-center justify-content-between px-sm-3 py-3"
        #EventRef
        [@eventAnimator]="animationState"
        (panleft)="moveLeft($event)"
        (panend)="panEnd()"
        (swipeleft)="startAnimation('slideOutLeft')">
      <div [ngStyle]="{background: event.category.color}" class="category-label"></div>
      <div class="col-1 event-complete">
        <label [ngClass]="{'complete': event.complete}">✓
          <input type="checkbox" [(ngModel)]="event.complete" (change)="completeEvent()"/>
        </label>
      </div>
      <div class="col px-3 event-description font-weight-bold">{{event.title}}</div>
      <div class="col-4 px-0 px-sm-2 event-date text-center text-sm-right">{{event.startDate | date: 'dd MMM'}} {{event.startDate | date: 'hh:mm'}}</div>
      <div class="col-1 px-0 event-actions text-right">
        <button type="button"
                popoverClass="event-actions-list"
                class="btn btn-outline-secondary" placement="bottom-right"
                [ngbPopover]="popContent">
        </button>
      </div>
    </div>
</li>

<ng-template #popContent>
  <ul class="list-group">
    <li class="list-group-item border-0" (click)="completeEvent(!event.complete)">Complete <span class="action-icon">🗹</span></li>
    <li class="list-group-item border-0" (click)="popupConfig.isOpen=true">Edit <span class="action-icon">🖉</span></li>
    <li class="list-group-item border-0" (click)="deleteEvent(event)">Delete <span class="action-icon">ⓧ</span></li>
  </ul>
</ng-template>

<ng-container *ngIf="popupConfig.isOpen">
  <app-popup [popupConfig]="popupConfig">
    <app-add-event [event]="popupConfig.event"></app-add-event>
  </app-popup>
</ng-container>
