form {
  input[id=task-title] {
    border: none;
    background: linear-gradient(180deg, rgba(0,34,36,0) 0%, rgba(90, 149, 255, 0.06) 40%, rgba(0,212,255,0) 70%);
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    &.down { border-top: 5px solid black; }
    &.up { border-bottom: 5px solid black; }
  }

  .range-picker {
    border: 1px solid #ced4da;
    border-radius: 5px;
    button.calendar, button.calendar:active {
      width: 2.75rem;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=)!important;
      background-repeat: no-repeat;
      background-size: 23px;
      background-position: center;
    }
    &.closed {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    }
  }

  .categories {
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    position: relative;
    overflow-x: hidden;
    &:before, &:after {
      content: '';
      display: block;
      top: 0;
      position: absolute;
      width: 20px;
      height: 100%;
      z-index: 1;
    }
    &:before {
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      left: 0;
    }
    &:after {
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      right: 0
    }
    label {
      padding: 5px 10px;
      margin: 5px;
      border-radius: 10px;
      color: #495057;
      cursor: pointer;
      .category-mark {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 3px;
        border-radius: 50%;
      }
    }
    input:checked + label {
      background: red;
      color: #fff;
    }
    input {
      position: absolute;
      visibility: hidden;
    }
  }
}
