<section class="container">
  <div class="col-md-8 offset-md-2 py-2 py-md-4 my-2 my-md-3 calendar">
    <div class="d-flex justify-content-center pb-1 pb-md-3">
      <div class="arrow-left" (click)="changeMonth(-1)"></div>
      <div class="text-center px-5">{{monthFirstDay | momentDate:'MMMM'}}</div>
      <div class="arrow-right" (click)="changeMonth(1)"></div>
    </div>
    <div class="col-md-12 d-table">
      <div class="d-table-row week-days">
        <div *ngFor="let dayName of weekDays" class="d-table-cell">{{dayName}}</div>
      </div>
      <div *ngFor="let week of calendar" class="d-table-row dates">
        <div *ngFor="let day of week" class="d-table-cell"
             [ngClass]="{'past-day': day.pastDate, 'current-day': day.currentDate,
                          'active': day.dateObj.isSame(this.activeDate, 'day')}"
             (click)="changeActiveDate(day.dateObj)">
          <time [attr.datetime]="day.dateStr">{{day.dateStr.slice(-2)}}</time>
          <ng-container *ngIf="(groupedEvents$ | async) as events">
            <div class="event-marks" *ngIf="events[day.dateStr]">
              <div *ngFor="let color of events[day.dateStr].categories"
                [ngStyle]="{'background-color': color}" class="category-mark">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
